<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput placeholder="Name" formControlName="name">

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Address" formControlName="address">

  </mat-form-field>
  <div *ngIf="hasOwnerField">
    <mat-form-field>

      <input matInput placeholder="OwnerId" formControlName="ownerId">

    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button>

</mat-dialog-actions>