<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput placeholder="name" formControlName="name">

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="address" formControlName="address">

  </mat-form-field>

  <div *ngIf="hasSellerIdField">
    <mat-form-field>

      <input matInput placeholder="sellerId" formControlName="sellerId">

    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button>

</mat-dialog-actions>