/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-color: black;
  min-height: 300px;
}
html {
  background-image: linear-gradient(
    to right bottom,
    #7b7e84,
    #656f88,
    #53608b,
    #44508c,
    #393e8b
  );
  background-repeat: no-repeat;

  background-size: 2000px 1000px;
}

.logo img {
  height: 14vh;
  padding-right: 6rem;
  padding-left: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  background: #a2aebb no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0.9rem;
  border: 0.1rem solid #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sellerlist {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

.label {
  flex: 1;
  justify-content: flex-start;
  margin: 1rem;
  display: flex;
  align-items: center;
  background: #75abbc no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0.9rem;
  border: 0.1rem solid #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 250 rem;
}

.labelTerminal {
  flex: 1;
  justify-content: flex-start;
  margin: 1rem;
  display: flex;
  align-items: center;
  background: #2399bc no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0.9rem;
  border: 0.1rem solid #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 250 rem;
}

.labelTerminal h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.label h2 {
  margin: 0px;
}

.labelTerminal:hover {
  transform: scale(
    1.005
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.label:hover {
  transform: scale(
    1.005
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.addicon {
  margin-right: 1rem;
}

.removeicon {
  display: flex;
  align-items: center;
  align-self: end;
  margin-left: auto;
}

.removeicon2 {
  display: flex;
  align-items: center;
  align-self: end;
  margin-left: auto;
  margin-top: 7px;
}

.my-panel .mat-dialog-container {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
}
